* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    width: 15%;

    .admin {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
        background-color: rgba(226, 221, 176, 1);

        .head-text {
            background-color: #FFB800;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .lists {
        margin: 50px 0;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 600;

        ul li {
            padding: 15px 20px;

            &:first-child {
                background-color: #FFB800;
            }
        }
    }
}

.main {
    width: 85%;
    position: absolute;
    top: 0;
    padding: 20px;
    right: 0;

    .main-home {
        background-color: #f3f3f3;
        padding: 8px;
        #homeSpan{
            font-size: 18px;
            font-weight: 700;
        }
    }
}