body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:rgba(184, 181, 181, 0.788);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .logo-icon {
    margin-left: 5px;
    font-size: 24px;
  }
  
  h2 {
    margin: 10px 0;
    font-size: 20px;
    /* color: rgba(255, 4, 4, 0.137); */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    position: relative;
    margin: 15px 0;
    width: 100%;
  }
  
  .input-group input {
    width: calc(100% - 30px);
    padding: 10px 10px 10px 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input-group .icon .fa-solid {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .forgot-password {
    align-self: flex-end;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .forgot-password a {
    text-decoration: none;
    color: rgba(231, 228, 228, 0.719);
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background-color: #f5a623;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: orange;
  }
  